<div class="container m-top">
	<div class="row">
		<div class="col-lg-12 col-12">
<h1>Editing Etablissement</h1>

<%= render 'form', etablissement: @etablissement %>

<%= link_to 'Voir', @etablissement %> |
<%= link_to 'Retour', etablissements_path %>
		</div>
	</div>
</div>