/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	background-color: #f2f2f2;
	font-family: 'Open Sans', sans-serif;
}
.bg-head{
	background-color:#0878a4;
}
.text-logo{
	color:#0878a4;
	font-size: 28px;
	font-weight: bold;
	text-transform: uppercase;
}
.nav-link{
	color:#0878a4;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all .5s ease;
}
.nav-link:hover{
	background-color:#0878a4;
	color: white;
}

.nav-article{
	color:white;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	transition: all .5s ease;
	margin-right: 5%;
}
.nav-article:hover{
	background-color:white;
	color: #f22f08;
}
.bg-white{
	background-color: white;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

}
.btn-appel{
	border-radius: 0px;
	color:white;
	background-color: #f22f08;
}
.btn-appel:hover{
	border-radius: 0px;
	background-color:white;
	color: #f22f08;
	border: 1px solid #f22f08;
}
.btn-mail{
	border-radius: 0px;
	color:white;
	background-color: #d72f01;
}
.btn-mail:hover{
	background-color:white;
	color: #d72f01;
	border: 1px solid #d72f01;
}
.btn-site{
	border-radius: 0px;
	color:white;
	background-color: #d53c3c;
}
.btn-site:hover{
	background-color:white;
	color: #d53c3c;
	border: 1px solid #d53c3c;
}
.m-top-big{
	margin-top: 15%;
}
.m-top{
	margin-top: 5%;
}
.m-top-mini{
	margin-top: 2.5%;
}
.m-top-xs{
	margin-top: 1%;
}
.m-bottom{
	margin-bottom: 5%;
}
.m-bottom-mini{
	margin-bottom: 2.5%;
}
.m-bottom-xs{
	margin-bottom: 1%;
}
.ze-pad{
	padding: 3%;
}
.ze-pad-big{
	padding: 8%;
}
.ze-pad-mini{
	padding: 1.5%;
}
.text-bold{
	font-weight: 800;
}
.text-maj{
	text-transform: uppercase;
}
.logo {
  border-radius: 50%;
  position: absolute;
  top: 100%;
  left: 25px;
  z-index: 1;
  max-width: 150px;
  opacity: 1;
  border: 10px solid #f22f08;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  background-color: white;
}
header {
  position: relative;
  background-color: black;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}



.snip1336 {
  font-family: 'Open Sans', sans-serif;
  position: relative;
  overflow: hidden;
  width: 100%;
  color: black;
  text-align: left;
  line-height: 1.4em;
  background-color: white;
  height: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.cover{
	height: 150px;
}
.card{
	background-color: transparent;
	border: none;
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 100%;
  vertical-align: top;
  opacity: 0.85;
}
.snip1336 figcaption {
  width: 100%;
  background-color: #ffffff;
  padding: 25px;
  position: relative;
}
.snip1336 figcaption:before {
  position: absolute;
  content: '';
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 55px 0 0 400px;
  border-color: transparent transparent transparent #ffffff;
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #000000;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  border: 5px solid #f22f08;
  background-color: white;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
}
.snip1336 .follow {
  margin-right: 4%;
  border-color: #f22f08;
  color: #f22f08;
}

.snip1336 h2 {
  margin: 0 0 5px;
  font-weight: 800;
	color:black;
	text-transform: uppercase;
	font-size: 18px;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.6em;
  color: #f22f08;
	margin-top: .5%;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.8em;
  letter-spacing: 1px;
  opacity: 0.8;
}
/*-------etablissements------*/
/*----------articles-------------*/
figure.snip1312 {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: #ffffff;
  color: #000000;
  text-align: left;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}
figure.snip1312 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
figure.snip1312 img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}
figure.snip1312 figcaption {
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  padding: 15px 15px 30px;
  background-color: #ffffff;
}
figure.snip1312 .date {
  background-color: #7f8c8d;
  top: 15px;
  color: #fff;
  left: 15px;
  min-height: 48px;
  min-width: 48px;
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
figure.snip1312 .date span {
  display: block;
  line-height: 24px;
}
figure.snip1312 .date .month {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0.1);
}
figure.snip1312 h3,
figure.snip1312 p {
  margin: 0;
  padding: 0;
}
figure.snip1312 h3 {
  min-height: 50px;
  margin-bottom: 10px;
  margin-left: 0px;
  display: inline-block;
  font-weight: 800;
  text-transform: uppercase;
	color: #f22f08;
}
figure.snip1312 p {
  font-size: 0.8em;
  margin-bottom: 20px;
  line-height: 1.6em;
}
figure.snip1312 footer {
  padding: 0 25px;
  background-color: #f22f08;
  color: white;
  font-size: 0.8em;
  line-height: 30px;
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
figure.snip1312 footer > div {
  display: inline-block;
  margin-left: 10px;
}
figure.snip1312 footer i {
  color: rgba(255, 255, 255, 0.2);
  margin-right: 5px;
}
figure.snip1312 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1312:hover img,
figure.snip1312.hover img {
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
/*----------articles fin---------*/





#sticky-footer {
  flex-shrink: none;
  background-color:#0878a4;
}